:root {
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 16px;
  background: #f7f6fb0a;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

h1 {
  color: #000000d9;
  font-weight: 500;
  font-size: 30px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
  color: #000000d9;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}

a:hover {
  color: #1890ff;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #fff;
  box-shadow: var(--box-shadow);

  /* border-bottom: #efe7e7 solid .5px; */
}

.header a {
  height: 25px;
  width: 25px;
}

.header .shoulder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.header .spin {
  cursor: pointer;
  animation: loadingCircle 3s infinite linear;
}

.header .spin:hover {
  animation-play-state: paused;
}

@keyframes loadingCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
