

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .btn{
    cursor: pointer;
    margin: 0 20px;
}


.carousel .outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel .wrapper {
    overflow: hidden;
}

.carousel .container {
    width: 500px;
    height: 300px;
    display: flex;
    transition: transform 1s;
    position: relative;
}

.carousel .inner {
    width: 500px;
    height: 300px;

    transition: transform 1s;
    position: absolute;
}

